
script#matchMenuTpl(type='text/template')
  <div class="row">
    <div class="col-sm-6 matchButtons" id="vsMode">1 VS 1<br>MODE</div>
    <div class="col-sm-6 matchButtons" id="coopMode">COOP<br>MODE</div>
    <div class="col-sm-12 matchDescript" id="descriptMode">SELECT<br>GAME MODE</div>
    <div class="col-sm-12 matchDescript" id="descriptUser" style="display: none">SELECT OPPONENT<br><p>FROM USERLIST</p></div>
  </div>
  
  
script#roomLayout(type='text/template')
  <div id="mainPage" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <div id="wrapDivMain" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div id="player1Info">
        <p>Player 1</p>
      </div>
      <div id="player1ReadyBtn">
        <p>PRESS</p>READY FOR<br/>GAME START
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mainComponent">
      <div id="globalChat">
        <div id="globalChatInnerWrapper">
          <div class="input-group chatInput">
            <input id="globalChatVal" type="text" placeholder="Chat here..." class="form-control"/><span class="input-group-btn">
              <button id="globalSendBtn" type="button" class="btn btn-default">Send</button></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mainComponent">
      <div id="player2Info"><i id="exitBtn" aria-hidden="true" class="fa fa-sign-out fa-3x">        </i>
        <p>Player 2</p>
      </div>
      <div id="player2ReadyBtn">
        <p>PRESS</p>READY FOR<br/>GAME START
      </div>
    </div>
  </div>

script#invitationMenu(type='text/template')  
  <div class='col-xs-12'>You've got a<br>Match Invitation</div>
  <div class='col-xs-6' id='inviteBtnC'><p>ACCEPT</p></div>
  <div class='col-xs-6' id='inviteBtnD'><p>DECLINE</p></div>
