/* Common Settings */
html {
  font-family: sans-serif, helvetica;
  background-color: black;
}

body {
  background-color: rgba(255, 255, 255, 0);
  line-height: 1.2;
  font-family: inherit;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

span {
  color: white;
  font-size: 25px;
}

p {
  color: grey;
  font-size: 19px;
}

label, h3, h4 {
  color: white;
  font-weight: normal;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -ms-filter: brightness(0.5);
  -moz-filter: brightness(0.5);
  -webkit-filter: brightness(0.6);
  background-size: cover;
}
/**
 * Main Page
 * @type {[type]}
 */
#mainContainer, #accContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

#accContainer {
  top: 42%;
}

#mainPage {
  text-align: center;
  color: white;
  height: 300px;
}

#wrapDivMain {
  padding: 0;
  margin: 0;
  height: 100%;
}

#wrapDivMainInner {
  padding: 0;
  margin: 0 3px;
  height: 100%;
}

.mainComponent {
  text-align: center;
  color: white;
  height: 100%;
  padding: 0;
}
/**
 * main - sign in
 * @type {[type]}
 */

#signIn {
  margin-bottom: 6px;
  border: 3px solid rgb(255, 0, 153);
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 164px;
}

#signIn p {
  padding-top: 12px;
  margin-bottom: 0;
  height: 50px;
}

#signIn:hover {
  background-color: rgb(0, 222, 195);
  border: 3px solid white;
  a {
    color: rgb(87, 87, 87);
  };
}

.socialBtn .col-sm-4,
.socialBtn .col-xs-4 {
  margin: 0;
  padding: 1px;
}

.socialBtn a {
  color: white;
  opacity: 0.9;
  background: rgba(#ffffff, 0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#signIn a:hover {
  color: white;
  opacity: 1;
}

.socialBtn .login_btn-facebook:hover {
  background: #3b5998;
}

.socialBtn .login_btn-twitter:hover {
  background: #00aced;
}

.socialBtn .login_btn-google-plus:hover {
  background: #c32f10;
}

.socialBtn .login_btn-github:hover {
  background: #333333;
}

.socialBtn .login_btn-steam:hover {
  background: #292929;
}

.socialBtn .login_btn-linkedin:hover {
  background: #004269;
}

#signIn .dropdown img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px 10px;
}

#signIn .dropdown a {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
}

#signIn .dropdown span {
  font-size: 14px;
}

#signIn .dropdown {
  margin: 5px 5px;
}

#signIn .dropdown a:hover {
  color: black;
}


/**
 * Global Chat
 * @type {[type]}
 */

#globalChat {
  margin: 0 3px;
  padding: 5px 10px 30px 10px;
  height: 100%;
  border: 3px solid white;
  font-size: 18px;
}

#globalChat:hover {
  border: 3px solid rgb(0, 224, 255);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#globalChatInnerWrapper {
  height: 93%;
  overflow: auto;
  overflow-x: hidden;
  overflow-style: none;
  font-weight: lighter;
}
#globalChatInnerWrapper::-webkit-scrollbar {
  display: none;
}

#globalChat .chatInput {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.chatText {
  width: 100%;
  text-align: left;
  word-break: break-all;
  margin-bottom: 2px;
  background-color: rgba(40, 40, 40, 0.44);
  border-bottom: 2px solid rgb(51, 51, 51);
  border-right: 1px solid rgb(51, 51, 51);
}

.chatText:hover {
  background-color: rgba(57, 57, 57, 0.78);
  .chatTextId {
    background-color: rgba(0, 224, 255, 0.59);
  }
}

.chatTextId {
  font-size: 18px;
  background-color: rgba(143, 219, 230, 0.43);
}

/**
 * Score Board + User List
 * @type {[type]}
 */

#scoreBoard {
  margin: 0 3px;
  height: 100%;
  border: 3px solid white;
}

#scoreBoard:hover {
  border: 3px solid yellow;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#boardInnerWrapper {
  margin-top: 5px;
  height: 97%;
  overflow: auto;
  overflow-x: hidden;
  overflow-style: none;
  font-weight: lighter;
}
#boardInnerWrapper::-webkit-scrollbar {
  display: none;
}
.newUser {
  height: 40px;
  background-color: rgba(198, 198, 198, 0.41);
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  margin: 2px 0;
  word-break: break-all;
}

.newUser:hover {
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.newUser img {
  margin-top: -7px;
  width: 30px;
  height: 30px;
}

.newUser span {
  padding-left: 10px;
  font-size: 18px;
}

@media (max-width: 768px) {
  #mainContainer {
    top: 30%;
  }

  #globalChat {
    margin-top: 6px;
  }

  #scoreBoard {
    margin-top: 12px;
  }
}

/**
 * Play modes
 * @type {[type]}
 */

#guestPlay {
  text-align: center;
  color: white;
  border: 3px solid white;
  padding-top: 11px;
  font-size: 30px;
  height: 130px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#guestPlay:hover {
  background-color: rgb(210, 210, 210);
  color: rgb(87, 87, 87);
}

#singlePlay, #multiPlay {
  text-align: center;
  padding-top: 8px;
  font-size: 30px;
  height: 94px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#multiPlay {
  margin-bottom: 6px;
  color: white;
  border: 3px solid white;
}
#singlePlay {
  margin-bottom: 6px;
  color: white;
  border: 3px solid white;
}

#multiPlay:hover {
  background-color: rgb(36, 36, 36);//rgb(59, 59, 59);
  color: rgb(255, 0, 153);
  border: 4px solid rgb(255, 0, 153);
}

#singlePlay:hover {
  background-color: rgb(210, 210, 210);
  color: rgb(87, 87, 87);
  border: 4px solid rgb(87, 87, 87);
}
