extends ../layout

block content
  video(muted='', loop='')
    source(src='./src/test1.mp4', type='video/mp4')
  #board
  #pause

block scripts
  script(type='text/javascript', src='./js/game/objDots.js')
  script(type='text/javascript', src='./js/game/objPlayer.js')
  script(type='text/javascript', src='./js/game/objLine.js')
  script(type='text/javascript', src='./js/game/utility.js')
  script(type='text/javascript', src='./js/game/gameStarter.js')
  script(type='text/javascript', src='./js/game/gameDraw.js')
  script(type='text/javascript', src='./js/game/gameLogics.js')
  script(type='text/javascript', src='./js/game/gameEvent.js')
  script(type='text/javascript', src='./js/game/gameCore.js')
